<h2 mat-dialog-title>Filters</h2>
<mat-dialog-content #content class="mat-typography">
  <mat-spinner
    [diameter]="75"
    *ngIf="categoryLoading || tagLoading; else content"
  ></mat-spinner>
  <ng-template #content>
    <mat-label>Category</mat-label>
    <input
      type="text"
      placeholder="Select a category"
      aria-label="Number"
      matInput
      [formControl]="category"
      [matAutocomplete]="auto1"
    />
    <mat-autocomplete #auto1="matAutocomplete">
      <mat-option
        *ngFor="let category of filteredCategories"
        [value]="category.title"
      >
        {{ category.title }}
      </mat-option>
    </mat-autocomplete>
    <mat-label>Tag</mat-label>
    <input
      type="text"
      placeholder="Select a tag"
      aria-label="Number"
      matInput
      [formControl]="tag"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let tag of filteredTags" [value]="tag.title">
        {{ tag.title }}
      </mat-option>
    </mat-autocomplete>
    <mat-label>Choose a date</mat-label>
    <div id="datepicker-container">
      <input
        matInput
        [matDatepicker]="picker"
        [formControl]="startDate"
        id="date-input"
      />
      <mat-datepicker-toggle
        id="date-toggle"
        matSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
    </div>
    <mat-datepicker #picker></mat-datepicker>
  </ng-template>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="filters">Save</button>
</mat-dialog-actions>
